.experience {
  width: 100%;
  background-color: #f3f9ff;
  padding: 100px 0 70px;
}

.content {
  width: 100%;
  max-width: 1250px;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
}

.experience__title {
  width: 100%;
}

.experience__title span {
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.experience__title h3 {
  font-size: 40px;
  font-weight: 800;
  color: #130f49;
  margin: 0;
}

.experience__list {
  width: 100%;
  margin-top: 40px;
}

.experience__list ul {
  margin: 0 0 0 -30px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.experience__list ul li {
  margin: 0 0 40px;
  padding-left: 30px;
  width: 50%;
  float: left;
}

.job {
  width: 100%;
  float: left;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.job__info span {
  font-weight: 500;
  display: inline-block;
  margin-bottom: 4px;
  color: #ff972d;
}
.job__info h3 {
  font-weight: 700;
  line-height: 1.3;
  color: #130f49;
  margin: 0;
}

.job__place span {
  font-weight: 500;
}

.description {
  width: 100%;
  float: left;
}

.description p {
  opacity: 0.7;
  margin: 0;
}
.hover {
  cursor: pointer;
}
.hover:hover {
  transform: translateY(-5px);
}

.modal__image {
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  overflow: hidden;
}

.modal__image img {
  width: 100%;
  border-radius: 5px;
}

.modal__tags {
  width: 100%;
  float: left;
  margin-bottom: 20px;
}

.modal__tags span {
  display: inline-block;
  background-color: #000;
  color: #ff972d;
  border-radius: 4px;
  padding: 4px 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.modal__info {
  margin-bottom: 20px;
}

.modal__info h3 {
  margin: 0;
  font-weight: 700;
  line-height: 1.3;
  color: #130f49;
  font-family: sans-serif;
}
.modal__info span {
  display: block;
}

.modal__info span:nth-child(2) {
  color: #ff972d;
}

.modal__description p {
  margin: 0 0 10px 0;
}

.modal__image div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.button--customised {
  padding: 10px 20px;
  font-size: 14px;
  float: right;
  margin-top: 5px;
}

@media (max-width: 1600px) {
  .content {
    max-width: 1000px;
  }

  .experience__title span {
    margin-bottom: 4px;
  }

  .experience__title h3 {
    font-size: 35px;
  }

  .job__info span {
    margin-bottom: 3px;
  }

  .job__info h3 {
    font-size: 19px;
  }
}

@media (max-width: 1040px) {
}

@media (max-width: 768px) {
  .experience__list ul {
    margin: 0;
  }
  .experience__list ul li {
    width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .modal__image {
    height: 50vh;
  }
}

@media screen and (min-width: 768px) {
  .modal__image {
    height: 400px;
  }
}
