.card {
  width: 100%;
  clear: both;
  float: left;
  position: relative;
  background-color: #fff;
  border: 1px solid #f9fafc;
  border-radius: 4px;
  box-shadow: 30px 40px 80px #e4edf5;
  padding: 45px 70px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 1600px) {
  .card {
    padding: 40px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 35px 25px;
  }
}
